@page "/Titular"
@using System.Net.Http.Json
@inject HttpClient http
@using MudBlazor
@using UI.Data.Usuario
@if (mostrarAlerta)
{
    <div class="alert alert-success" role="alert">
        ¡Titular guardado exitosamente!
    </div>
}
<h1>Gestión de Titular</h1>
<div class="accordion" id="accordionEstudiantes">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseEstudiante" aria-expanded="true">
                Registrar Titular
            </button>
        </h2>
        <div id="collapseEstudiante" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <h2 class="text-uppercase text-center mb-5">Registrar Titular</h2>
                <EditForm Model="@titular_registro" OnValidSubmit="RegistrarTitular">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="mb-3">
                        <label>Titular:</label>
                        <InputSelect @bind-Value="titular_registro.fk_cuenta" class="form-control">
                            <option value="">Seleccione una cuenta</option>
                            @foreach (var cl in cuentaList)
                            {
                                <option value="@cl.id_cuenta">@cl.numero</option>
                            }
                        </InputSelect>
                    </div>


                    <div class="mb-3">
                        <label>Cuenta habiente:</label>
                        <InputSelect @bind-Value="titular_registro.fk_cuenta_habiente" class="form-control">
                            <option value="">Seleccione una cuenta</option>
                            @foreach (var ul in usuarioList)
                            {
                                <option value="@ul.id_cuenta_habiente">@ul.documento</option>
                            }
                        </InputSelect>
                    </div>



                    <button type="submit" class="btn btn-primary">Guardar</button>
                </EditForm>
            </div>
        </div>
    </div>
</div>


@code {
    private Titular titular_registro = new();
    private bool mostrarAlerta = false;

    private async Task RegistrarTitular()
    {
        try
        {
            var response = await http.PostAsJsonAsync(
            "http://localhost:5000/titular",
            titular_registro
            );

            if (response.IsSuccessStatusCode)
            {
                mostrarAlerta = true;
                titular_registro = new(); // Limpia formulario
            }
            else
            {
                Console.WriteLine($"Error: {response.StatusCode}");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Excepción: {ex.Message}");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        await buscarUsuarios();
        await buscarCuenta();
    }

    private List<Usuario> usuarioList = new();

    private async Task buscarUsuarios()
    {
        try
        {
            usuarioList = await http.GetFromJsonAsync<List<Usuario>>("http://localhost:5000/user") ?? new();
        }
        catch (Exception e)
        {
            Console.WriteLine($"Excepción: {e.Message}");
        }
    }

    private List<Cuenta> cuentaList = new();
    private async Task buscarCuenta()
    {
        try
        {
            cuentaList = await http.GetFromJsonAsync<List<Cuenta>>("http://localhost:5000/cuenta") ?? new();
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error al consusultar nuemero de cuenta: {e.Message}");
        }
    }
}